# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# zip
/zip

# misc
.DS_Store
.env
.env.local
.env.*.local
.history

# secrets
secrets.*.js
